* {
    margin: auto;
}

.bgimg {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 20%, rgba(121, 9, 119, 1) 65%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    height: auto;
    margin: auto;
}
.myname{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2.75em;
    color: white;
    font-weight: 600;
    line-height: 100px;  
}

.font{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2 ;
    color: white;
    font-weight: 600;
    line-height: 100px;
}

.navbar>a{
   padding-left: 15px;
   text-decoration: none;
}

.linked{
  background-color: rgb(77, 146, 231);
}
ul{

    padding: 0;
    display: flex;
}
ul li{
    font-size: 60px;
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
    list-style: none;
    transition: 2s;
}
.intro li:nth-child(15) {
    margin-left: 40px; /* adjust the margin value as needed */
  }.intro li:nth-child(4) {
    margin-left: 40px; /* adjust the margin value as needed */
  }
ul:hover li{
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
}
ul li:nth-child(1){
    transition-delay: 0;
}
ul li:nth-child(2){
    transition-delay: 0.3s;
}
ul li:nth-child(3){
    transition-delay: 0.5s;
}
ul li:nth-child(4){
    transition-delay: 0.7s;
}
ul li:nth-child(5){
    transition-delay:0.9s;
}
ul li:nth-child(6){
    transition-delay: 1.1s;
}
ul li:nth-child(7){
    transition-delay: 1.3s;
}
ul li:nth-child(8){
    transition-delay: 1.5s;
}
ul li:nth-child(9){
    transition-delay: 1.7s;
}
ul li:nth-child(10){
    transition-delay: 1.9s;
}
ul li:nth-child(11){
    transition-delay: 2.1s;
}
ul li:nth-child(12){
    transition-delay: 2.3s;
}
ul li:nth-child(13){
    transition-delay: 2.5s;
}
ul li:nth-child(14){
    transition-delay: 2.7s;
}
ul li:nth-child(15){
    transition-delay: 2.9s;
}
ul li:nth-child(16){
    transition-delay: 3.1s;
}
ul li:nth-child(17){
    transition-delay: 3.3s;
}
ul li:nth-child(18){
    transition-delay: 3.5s;
}
ul li:nth-child(19){
    transition-delay: 3.7s;
}
ul li:nth-child(20){
    transition-delay: 3.9s;
}

.title{
    border-width: 2px;
    border-color: rgb(55, 53, 53);
    border-style: solid;
    border-top: none;
    border-bottom: none;
    width: 96%;
    height: auto;
    position: relative;
}
.intro{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem ;
    color: white;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 70px;
}
.small-intro{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem ;
    color: white;
    font-weight: 600;
    padding-left: 60px;
    text-align:justify;
    text-wrap: wrap;
    animation: bounce1 1s infinite alternate;
}
@keyframes bounce1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

h2.intro{
    font-size: 3rem;
    padding-left: 60px;
    animation: bounce 1s infinite alternate;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.image{
    max-height: 520px;
    max-width: 650px;
}
.my-intro{
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem ;
    color: rgb(174, 165, 174);
    font-weight: bolder;
    text-wrap: wrap;
    /* text-align:left; */
    width: 61%;
    padding-top: 50px;
    
}
.box{
    border-color: transparent;
    border-style: solid;
    background-color: rgb(0, 0, 0,0.5);
    width: 90%;
    padding-bottom: 20px;

}
.edu{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2 ;
    color: white;
    font-weight: 600;
    line-height: 50px;
}
.clg{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem ;
    color: white;
    font-weight: 600;
}
.course{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem ;
    color: white;
    font-weight: 600; 
}
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0,0,0,0.50);
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  

  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
.skills{
    text-align: center;
}

.skill_intro{
color: bisque;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
font-style: oblique;
font-variant: normal;
background-color: rgba(0,0,0,0.22);
width: 96%;
}
.img_slider{
    padding: 20px;
    padding-left: 3.5%;
    width: 87%;
    background-color: rgba(0,0,0,0.50);
    border-radius: 30px;

}

@media all and (max-width: 500px) {
    .image {
        max-height: 320px;
        max-width: 350px;
    }
    .navbar>a{
        display: none;
    }
  }